<% 
   console.log('start page = ' , pagination.startPage);
   console.log('end page = ' , pagination.endPage);    
%> 
<div>
<% if (pagination.totalPages > 0) { %>
    <ul class="">

        <% if (pagination.currentPage == 1) { %>
            <li class="disabled"><a>Previous</a></li>            
        <% } else { %>
            <li><a href="<%= pagination.url + (pagination.currentPage - 1 ) %>">Previous</a></li>            
        <% } %>

        <% if (pagination.startPage >= 2) { %>            
            <li class="disabled"><a>...</a></li>            
        <% } %>
        
        <% for (i = pagination.startPage; i <= pagination.endPage; i++) { %> 
            <% if (i == pagination.currentPage) { %>
                <li class="active" style="background-color: red;"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="<%= pagination.url %><%= i %>"><%= i %></a></li>
            <% } %>         
        <% } %>     
        
        <% if (pagination.endPage <= pagination.totalPages - 1) { %>            
            <li class="disabled"><a>...</a></li>            
        <% } %>
        
        <% if (pagination.currentPage == pagination.totalPages) { %>            
            <li class="disabled"><a>Next</a></li>
        <% } else { %>            
            <li><a href="<%= pagination.url + (pagination.currentPage + 1 ) %>">Next</a></li>
        <% } %>

    </ul>
<% } %>
</div>