<div>
<% if (pagination.lastPage > 0) { %>
    <ul class="pagination text-center">
        <% if (pagination.currentPage == 1) { %>
            <li class="disabled"><a>First</a></li>
        <% } else { %>
            <li><a href="<%= pagination.url %>1">First</a></li>
        <% } %>
        <% var i = (Number(pagination.currentPage) > 5 ? Number(pagination.currentPage) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(pagination.currentPage) + 4) && i <= pagination.lastPage; i++) { %>
            <% if (i == pagination.currentPage) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="<%= pagination.url %><%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(pagination.currentPage) + 4 && i < pagination.lastPage) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (pagination.currentPage == pagination.lastPage) { %>
            <li class="disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="<%= pagination.url %><%= pagination.lastPage %>">Last</a></li>
        <% } %>
    </ul>
<% } %>
</div>